* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(235, 240, 246);
    color: #1a1d20;
    gap: 40px;
}

#cabecalho-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: rgb(235, 240, 246);
    padding: 20px;
    gap: 4px;
}

.menu-links {
    display: flex;
    gap: 20px;
}

.menu-links a {
    text-decoration: none;
}

#cabecalho-principal a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(241, 245, 249);
    border-radius: 4px;
}

#cabecalho-principal a.active {
    background-color: #fdec7c;
    color: #0f172a;
    padding: 6px;
}

.titulo-grid {
    display: flex;
    justify-content: flex;
}

#cabecalho-principal h1 {
    font-size: 28px;
    font-weight: bold;
}

#cabecalho-principal small {
    font-size: 14px;
    color: #e10600;
}

main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#topo-curiosidades {
    font-size: 14px;
    color: #252525;
    gap: 5px;
}

#topo-curiosidades small {
    color: #e10600;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 22px;
}

#topo-curiosidades h2 {
    font-size: 32px;
    color: rgb(0, 0, 0);
}

#conteudo-fatos {
    display: flex;
    gap: 40px;
    background-color: white;
    padding: 30px;
}

.lado-esquerdo-imagem {
    flex: 1;
    display: flex;
}

.lado-esquerdo-imagem img {
    width: 100%;
}

.lado-direito-fatos {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}

.lado-direito-fatos small {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #a10803;
}

.linha-fato {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: #e6f1f4;
    padding: 15px;
    border-radius: 8px;
}

.numero-fato {
    font-size: 20px;
    font-weight: bold;
    color: #e10600;
}

.texto-fato {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.texto-fato h5 {
    font-size: 16px;
    color: #0f172a;
}

.texto-fato p {
    font-size: 14px;
    color: #64748b;
}

footer {
    background-color: #0f172a;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#botoes-footer {
    display: flex;
    gap: 10px;
}

#botoes-footer a {
    text-decoration: none;
    background-color: #e10600;
    color: #fafafa;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
}

