* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
    background-color: rgb(235, 240, 246);
    color: #1A1D20;
}

#cabecalho-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    color: rgb(235, 240, 246);
    padding: 20px;
}

.menu-links {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.menu-links a {
    text-decoration: none;
}

#cabecalho-principal a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(241, 245, 249);
}

#cabecalho-principal a.active {
    background-color: #fdec7c;
    color: #0F172A;
    padding: 6px 12px;
    border-radius: 4px;
}

.titulo-grid {
    display: flex;
    justify-content: flex;
}

#cabecalho-principal h1 {
    font-size: 28px;
    font-weight: bold;
}

#cabecalho-principal small {
    font-size: 14px;
    color: #e10600;
}

main {
    padding: 40px;
    gap: 40px;
}

#header-esquerda p {
  color: rgb(192, 0, 0);
  font-weight: bold;
  font-size: 30px;
}

.texto-pequeno {
  color: rgb(192, 0, 0);
  text-transform: uppercase;
  font-size: 15px;
}

#header-direita{
  display: flex;
  gap: 20px;
}

#header-direita p{
 color: rgb(192, 0, 0);;
 font-weight: bold;
}

#destaque {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between
}

#destaque-txt h1{
  color: rgb(19, 19, 19);
  font-size: 50px;
}

#destaque-txt p{
  font-size: 20px;
}

#destaque-img {
  width: 400px;
}

#galeria-txt {
  margin-top: 40px;
  padding: 20px;
  color:#e10600
}

#galeria-txt h2{
  color: black;
  font-size: 48px;
}

.card {
  background-color: white;
  width: 25%;
}

.card img{
  width: 100%;
}

.card p{
  font-weight: bold;
  font-size: 20px;
}

.card-txt {
  padding: 20px;
}

#galeria-cards{
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
    background-color: #0F172A;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#botoes-footer {
    display: flex;
    gap: 10px;
}

#botoes-footer a {
    text-decoration: none;
    background-color: #e10600;
    color: #fafafa;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
}
