*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(235, 240, 246);
    color: #1A1D20;
}

#cabecalho-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    color: rgb(235, 240, 246);
    padding: 20px;
}

.menu-links {
    display: flex;
    gap: 20px;
}

#cabecalho-principal a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(241, 245, 249);
}

#cabecalho-principal a.active {
    background-color: #fdec7c;
    color: #0F172A;
    padding:12px;
    border-radius: 4px;
}

.titulo-grid {
    display: flex;
    justify-content: flex;
}

#cabecalho-principal h1 {
    font-size: 28px;
    font-weight: bold;
}

#cabecalho-principal small {
    font-size: 14px;
    color: #e10600;
}

main {
    padding: 40px;
    gap: 40px;
}

#apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.subtitulo-topo {
    color: #e10600;
    font-weight: bold;
    font-size: 25px;
    display: block;
}

.botoes-interativos {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-principal {
    background-color: #e10600;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
}

.btn-secundario {
    background-color: #1e293b;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
}

.container-imagem-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apresentacao img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.tarjeta-amarela {
    background-color: #fdec7c;
    color: #0F172A;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    text-align: center;
    border-radius:12px;
}

.detalhes-especiais h2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.grid-tres-cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

.card-branco {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    flex: 1;
}

#banner-chamada {
    background-color: #0F172A;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 16px;
    border-radius: 12px;
}

.btn-aviso {
    background-color: #fdec7c;
    color: #0F172A;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    background-color: #0F172A;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
